{% extends 'base.html' %}

{% block content %}
<h1>Data Page</h1>
<div class="progress-container">
    <div class="progress-fill" style="width: {{ progress }}%;"></div>
</div>

<h2>Choose sample data set</h2>
<form method="POST" id="datasetForm">
    <div class="sample-data-container">
        <div class="sample-data-item">
            <input type="radio" id="german_credit" name="dataset" value="German Credit">
            <label for="german_credit">
                <h3>German Credit</h3>
                <p>This dataset classifies people described by a set of attributes as good or bad credit risks. Comes in two formats (one all numeric). Also comes with a cost matrix. <a href="#">Detail</a></p>
                <ul>
                    <li><strong>Dataset Characteristics:</strong> Multivariate</li>
                    <li><strong>Subject Area:</strong> Social Science</li>
                    <li><strong>Associated Tasks:</strong> Classification</li>
                    <li><strong>Feature Type:</strong> Categorical, Integer</li>
                    <li><strong># Instance:</strong> 1000</li>
                    <li><strong># Features:</strong> 20</li>
                </ul>
            </label>
        </div>
        <div class="sample-data-item">
            <input type="radio" id="adult_census" name="dataset" value="Adult Census" disabled>
            <label for="adult_census">
                <h3>Adult Census - To be soon</h3>
                <p>Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset. <a href="#">Detail</a></p>
                <ul>
                    <li><strong>Dataset Characteristics:</strong> Multivariate</li>
                    <li><strong>Subject Area:</strong> Social Science</li>
                    <li><strong>Associated Tasks:</strong> Classification</li>
                    <li><strong>Feature Type:</strong> Categorical, Integer</li>
                    <li><strong># Instance:</strong> 48842</li>
                    <li><strong># Features:</strong> 14</li>
                </ul>
            </label>
        </div>
        <div class="sample-data-item">
            <input type="radio" id="taiwan_credit" name="dataset" value="Taiwan Credit Default" disabled>
            <label for="taiwan_credit">
                <h3>Taiwan Credit Default - To be soon</h3>
                <p>This research aimed at the case of customers' default payments in Taiwan and compares the predictive accuracy of probability of default among six data mining methods. <a href="#">Detail</a></p>
                <ul>
                    <li><strong>Dataset Characteristics:</strong> Multivariate</li>
                    <li><strong>Subject Area:</strong> Business</li>
                    <li><strong>Associated Tasks:</strong> Classification</li>
                    <li><strong>Feature Type:</strong> Integer, Real</li>
                    <li><strong># Instance:</strong> 30000</li>
                    <li><strong># Features:</strong> 23</li>
                </ul>
            </label>
        </div>
    </div>
    <div class="navigation">
        <a class="nav-button" href="{{ url_for('demo') }}">Back</a>
        <button class="nav-button" type="submit">Next</button>
    </div>
</form>

{% endblock %}
